body {
  background-color: #dadada;
  font-family: "Comfortaa", cursive;
}

td {
  text-align: center;
  padding: 30px;
  margin: 15px;
}

.glData {
  border-radius: 25px;
  background: #dadada;
  box-shadow: inset 20px 20px 60px #b9b9b9, inset -20px -20px 60px #fbfbfb;
  font-family: "Comfortaa", cursive;
}

.mainTable {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  background: #dadada;
  box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #fbfbfb;
}

.section2 {
  position: absolute;
  top: 190%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.indiaTable {
  font-size: 15px;
  border-radius: 50px;
  background: #dadada;
  box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #fbfbfb;
  padding: 0;
}

.section3 {
  text-align: center;
  padding: 80px;
  position: relative;
  bottom: -1900px;
  border-radius: 50px;
  background: #dadada;
  box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #fbfbfb;
}

.block1 {
  text-align: center;
  width: 250px;
  height: 320px;
  border-radius: 50px;
  background: #dadada;
  box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #fbfbfb;
}

.block1 p {
  font-size: 13px;
  padding: 5px;
}
.block1 img {
  width: 130px;
  padding: 10px;
}
.block1 {
  padding: 10px;
  position: relative;
  left: 60px;
  top: 30px;
}

.box1 {
  position: relative;
  top: 1800px;
  text-align: center;
}

.blk2 {
  padding: 10px;
  position: relative;
  left: 550px;
  top: -300px;
}

.blk2 img {
  width: 130px;
  padding: 10px;
}

.blk2 {
  font-size: 13px;
  padding: 5px;
}

.blk2 {
  text-align: center;
  width: 250px;
  height: 320px;
  border-radius: 50px;
  background: #dadada;
  box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #fbfbfb;
}

.block3 {
  padding: 10px;
  position: relative;
  left: 1000px;
  top: -630px;
}

.block3 img {
  width: 130px;
  padding: 10px;
}

.block3 p {
  font-size: 13px;
  padding: 5px;
}

.block3 {
  text-align: center;
  width: 250px;
  height: 320px;
  border-radius: 50px;
  background: #dadada;
  box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #fbfbfb;
}

.block4 {
  padding: 10px;
  position: relative;
  left: 60px;
  top: -520px;
}

.block4 img {
  width: 130px;
  padding: 10px;
}

.block4 p {
  font-size: 13px;
  padding: 5px;
}

.block4 {
  text-align: center;
  width: 250px;
  height: 320px;
  border-radius: 50px;
  background: #dadada;
  box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #fbfbfb;
}

.block5 {
  padding: 10px;
  position: relative;
  left: 550px;
  top: -850px;
}

.block5 img {
  width: 130px;
  padding: 10px;
}

.block5 p {
  font-size: 13px;
  padding: 5px;
}

.block5 {
  text-align: center;
  width: 250px;
  height: 320px;
  border-radius: 50px;
  background: #dadada;
  box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #fbfbfb;
}

.block6 {
  padding: 10px;
  position: relative;
  left: 1000px;
  top: -1190px;
}

.block6 img {
  width: 130px;
  padding: 10px;
}

.block6 p {
  font-size: 13px;
  padding: 5px;
}

.block6 {
  text-align: center;
  width: 250px;
  height: 320px;
  border-radius: 50px;
  background: #dadada;
  box-shadow: 20px 20px 60px #b9b9b9, -20px -20px 60px #fbfbfb;
}

.section3 {
  position: relative;
  top: 700px;
}
